---
import BaseLayout from '../layouts/BaseLayout.astro';
import BlogPost from '../components/BlogPost.astro';
const allPosts = await Astro.glob('../pages/posts/*.md');
const pageTitle = "Learn Programming Blog";
---
<BaseLayout pageTitle={pageTitle}>
	<p>Here are my previous blog posts on learning programming.</p>
	<ul>
		{allPosts.map((post) => <BlogPost url={post.url} title={post.frontmatter.title} />)}
	</ul>
</BaseLayout>

        
		
