---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "The Learning Programming Blog";
---
<BaseLayout pageTitle={pageTitle}>
	<p>Here are my previous blog posts on learning programming.</p>
	<ul>
		<li><a href="/posts/post-1/">Should I Learn Python or Java? A Comprehensive Guide to Navigating the Crossroad</a></li>
		<li><a href="/posts/post-2/">Why Learning Python is Important</a></li>
		<li><a href="/posts/post-3/">Post 3</a></li>
	</ul>
</BaseLayout>

        
		
